@import "filesUrl.scss";

.gicWizardPreview {
    .groupmanIcon {
        content: url(#{$groupmanIcon});
    }
    .one_manIcon {
        content: url(#{$one_manIcon});
    }
    .editIcon {
        content: url(#{$editIcon});
    }
    .preview_blueIcon {
        content: url(#{$preview_blueIcon});
    }
    .page_editIcon {
        content: url(#{$page_editIcon});
    }    
    .reciveIcon {
        content: url(#{$reciveIcon});
    }
    /*._process_builder {
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.4);
    }*/

    .panel {
        border: transparent;
        background-color: transparent !important;
    }

    th {
        font-weight: normal;
    }
}
