.ou-dynamic-form-group-warp .form-header {
    padding-top: 30px;
    font-size: 17px;
    text-align: left;
    text-transform: capitalize;
}

    .ou-dynamic-form-group-warp .form-header .col-sm-12 {
        padding: 0;
    }

.ou-dynamic-form-group-warp a {
    cursor: pointer;
}

.ou-dynamic-form-group-warp label {
    font-weight: normal;
}

.ou-dynamic-form-group-warp .label-error {
    color: red;
}

.ou-dynamic-form-group-warp .ui-grid-cell .delete-link {
    float: right;
    padding-right: 10px;
    padding-top: 5px;
}

.ou-dynamic-form-group-warp .ui-grid-column-menu-button {
    display: none;
}

.ou-dynamic-form-group-warp .ui-grid-row:last-child .ui-grid-cell {
    border-bottom: 1px solid #d0d0d0 !important;
}

.ou-dynamic-form-group-warp .popup-link {
    margin-left: 25%;
}

.ou-dynamic-form-group-warp .expand-group .form-header {
    padding-bottom: 20px !important;
}

.ou-dynamic-form-group-warp .expand-group .group-title {
    padding: 0 0 20px 10px !important;
}

.ou-dynamic-form-group-warp .expand-group .div-inputs {
    padding-left: 25px;
}

.ou-dynamic-form-group-warp i {
    cursor: pointer;
    width: 10px;
    height: 10px;
}

.ou-dynamic-form-group-warp .form-group {
    margin-bottom: 8px;
}

    .ou-dynamic-form-group-warp .form-group label {
        text-align: left;
        white-space: nowrap;
        text-transform: capitalize;
    }

    .ou-dynamic-form-group-warp .form-group .control-label {
        text-align: left;
    }

    .ou-dynamic-form-group-warp .form-group label.control-label:after {
        content: ":";
    }

.ou-dynamic-form-group-warp .dateRange div, .ou-dynamic-form-group-warp .dateRange label {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    display: inline-block;
}

    .ou-dynamic-form-group-warp .dateRange div input, .ou-dynamic-form-group-warp .dateRange label input {
        margin-right: 0;
        margin-left: 0;
        display: inline-block;
    }

.ou-dynamic-form-group-warp .selection-list, .ou-dynamic-form-group-warp input {
    max-width: 200px;
}

.ou-dynamic-form-group-warp .form-view .selection-list, .ou-dynamic-form-group-warp .form-view input {
    max-width: 201px;
}

.ou-dynamic-form-group-warp .form-view textarea {
    width: 98.6%;
}

.ou-dynamic-form-group-warp .dateRange input {
    min-width: 90px;
    max-width: 90px;
}

@media (max-width: 768px) {
    .ou-dynamic-form-group-warp .selection-list, .ou-dynamic-form-group-warp input {
        max-width: 100%;
    }

    .ou-dynamic-form-group-warp .dateRange input {
        min-width: 90px;
        max-width: 100%;
    }
}

.ou-dynamic-form-group-warp .selection-list {
    width: 100% !important;
    height: 24px;
    margin-top: 5px;
    padding: 1px 0px;
}

    .ou-dynamic-form-group-warp .selection-list .selection-list-options {
        /*max-height: 38vh;*/
    }

    .ou-dynamic-form-group-warp .selection-list .selection-sink {
        border: none;
        padding-left: 0px;
    }

        .ou-dynamic-form-group-warp .selection-list .selection-sink:before, .ou-dynamic-form-group-warp .selection-list .selection-sink:after {
            position: relative;
        }

.label-concat {
    margin-top: 5px;
}

.seperate-col {
    margin-left: 40px;
}
