$svg-url: "../svg/";
$images-url: "../images/";

$home_addIcon: $svg-url+ "add-file-home.svg";
$home_searchIcon: $svg-url+ "search-file-home.svg";
$wizard_saveIcon: $svg-url+ "save.svg";
$wizard_exitIcon: $svg-url+ "exit.svg";
$wizard_plusIcon: $svg-url+ "plus.svg";
$wizard_deleteIcon: $svg-url+ "delete.svg";